.header {
  background: #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  }
  
 
  
  .header ul {
    list-style: none;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  .header li {
    margin: 0 1rem;
  }
  
  .header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .header a:hover {
    color: #5f8ada;
  }
  
  .header button {
    font: inherit;
    background-color: transparent;
    border: 1px solid #3470b4;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .header button:hover {
    background-color: #3470b4;
    color: #f1ecf5;
    border: 1px solid #3470b4;
  }
  
  .gen{
    background: grey;
    text-align: center;
    color: white;
    padding: 45px;
    font-size: 40px
  }

